<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>fundraise</servlet-name>
        <servlet-class>fundraise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dreg</servlet-name>
        <servlet-class>dreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dlog</servlet-name>
        <servlet-class>dlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>amount</servlet-name>
        <servlet-class>amount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ft</servlet-name>
        <servlet-class>ft</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fundraise</servlet-name>
        <url-pattern>/fundraise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dreg</servlet-name>
        <url-pattern>/dreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dlog</servlet-name>
        <url-pattern>/dlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>amount</servlet-name>
        <url-pattern>/amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ft</servlet-name>
        <url-pattern>/ft</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
